{
  "settings": { "react": { "version": "detect" } },
  "env": { "browser": true, "es2021": true, "node": true },
  "parserOptions": { "sourceType": "module" },
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:react:recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "plugins": ["react", "jsx-a11y"],
  "rules": { "semi": ["error", "always"] }
}
